html{
	background-color: #292E33;
	
background-image: linear-gradient(left , rgb(41,46,51) 0%, rgb(102,102,102) 50%, rgb(41,46,51) 100%);
background-image: -o-linear-gradient(left , rgb(41,46,51) 0%, rgb(102,102,102) 50%, rgb(41,46,51) 100%);
background-image: -moz-linear-gradient(left , rgb(41,46,51) 0%, rgb(102,102,102) 50%, rgb(41,46,51) 100%);
background-image: -webkit-linear-gradient(left , rgb(41,46,51) 0%, rgb(102,102,102) 50%, rgb(41,46,51) 100%);
background-image: -ms-linear-gradient(left , rgb(41,46,51) 0%, rgb(102,102,102) 50%, rgb(41,46,51) 100%);

background-image: -webkit-gradient(
	linear,
	left top,
	right top,
	color-stop(0, rgb(41,46,51)),
	color-stop(0.5, rgb(102,102,102)),
	color-stop(1, rgb(41,46,51))
);
	
	
}

body{
	font-family: "freight-sans-pro";
	max-width: 800px;
	margin: 0 auto;
	background-color: #FFF;
	border-left: 5px solid #E89343;
	border-right: 5px solid #E89343;
}

body header, body footer, body #content{
	padding: 10px 20px;
}

body header h1 a{
	text-decoration: none;
	color: #E89343;
}

a{text-decoration: none;}
a:link{color: #887777; 	border-bottom: 1px dotted #887777; }
a:visited{color: #3D2323; border-bottom: 1px dotted #3D2323; }
a:hover{color: #BC6D6D;	border-bottom: 1px solid #BC6D6D; }
a:active{color: #966E61;	border-bottom: 1px solid #966E61; }


body header h1 a{
	text-decoration: none;
	color: #E89343;
}

body header h1 a:link{color: #E89343; 	border-bottom: none; }
body header h1 a:visited{color: #E89343; 	border-bottom: none; }
body header h1 a:hover{color: #FFFFFF; 	border-bottom: none; }
body header h1 a:active{color: #FFFFFF; 	border-bottom: none; }

body footer a:link{color: #DDDDDD; 	border-bottom: 1px dotted #FFFFFF; }
body footer a:visited{color: #BBBBBB; border-bottom: 1px dotted #DDDDDD; }
body footer a:hover{color: #FFFFFF;	border-bottom: 1px solid #CCCCCC; }
body footer a:active{color: #FFFFFF;	border-bottom: 1px solid #CCCCCC}

p{
	font-size: 20px;
	line-height: 1.5;
}

header h1, header h2{
	text-shadow: #000 2px 2px 3px;
}

h1, h2, h3{
	font-family: "chunk";
	font-weight: normal;
	color: #E89343;
}

h1{
	font-size: 50px;
}

h2{
	font-size: 28px;
}

header, footer{
	background-color: #382C2C;
	color: #E89343;
}

footer{
	text-shadow: #000 1px 1px 2px;
}

ul{
	margin-left: 0;
	padding-left: 20px;
}

article header, article footer{
	background-color: #FFF;
	color: #000;
	padding: 0;
}

article h1{
	font-size: 40px;
	margin: 0;
	text-shadow: none;
}

article h2{
	font-size: 25px;
	text-shadow: none;
}

article h3{
	text-shadow: none;
}

article aside{
	font-family: "chunk";
	font-size: 28px;
	border: 1px solid #CCC;
	background-color: #E89343;
	color: #292E33;
	padding: 20px;
	line-height: 1.2;
	letter-spacing: 1px;
	max-width: 300px;
	float: right;
	margin: 0px 0px 10px 10px;
	
	-moz-border-radius: 5px;  
	-webkit-border-radius: 5px;  
	border-radius: 5px; 
	
	background-image: linear-gradient(top, rgb(226,177,135) 30%, rgb(232,147,67) 74%);
	background-image: -o-linear-gradient(top, rgb(226,177,135) 30%, rgb(232,147,67) 74%);
	background-image: -moz-linear-gradient(top, rgb(226,177,135) 30%, rgb(232,147,67) 74%);
	background-image: -webkit-linear-gradient(top, rgb(226,177,135) 30%, rgb(232,147,67) 74%);
	background-image: -ms-linear-gradient(top, rgb(226,177,135) 30%, rgb(232,147,67) 74%);
	
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.3, rgb(226,177,135)),
		color-stop(0.74, rgb(232,147,67))
	);
	
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 5px 5px 5px #888;
	
}

		#forkme{
			height: 149px;
			width: 149px;
			overflow:hidden;
			padding: 0;
			margin: 0;
			float: right;
			position:absolute;
			top: 0;
			right: 0;
		}
		
		#forkme a{
			border: none;
			display: block;
			width: 190px;
			font-size: 14px;
			font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", 
				"Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, 
				Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
			background-color: #333;
			color: #E89343;
			word-spacing: 2px;
			text-decoration: none;
			padding: 5px 15px 5px 25px;
			
			position:relative;
			left: 20px;
			top: -37px;
			text-align: center;
			
			-moz-transform-origin: 0 0 ;
			-moz-transform:rotate(45deg);
			-moz-box-shadow:    1px 1px 5px 1px #111;
			
			-webkit-transform-origin: 0 0 ;	
			-webkit-transform:rotate(45deg);
			-webkit-box-shadow: 1px 1px 5px 1px #111;
			
			-ms-transform-origin: 0 0 ;	
			-ms-transform:rotate(45deg);
			-ms-box-shadow: 1px 1px 5px 1px #111;
			
			transform-origin: 0 0 ;	
			transform:rotate(45deg);
			box-shadow: 1px 1px 5px 1px #111;
			
			background-image: linear-gradient(bottom, #382C2C 3%, #E89343 5%, #382C2C 7%, #382C2C 93%, #E89343 95%, #382C2C 97%);
			background-image: -o-linear-gradient(bottom, #382C2C 3%, #E89343 5%, #382C2C 7%, #382C2C 93%, #E89343 95%, #382C2C 97%);
			background-image: -moz-linear-gradient(bottom, #382C2C 3%, #E89343 5%, #382C2C 7%, #382C2C 93%, #E89343 95%, #382C2C 97%);
			background-image: -webkit-linear-gradient(bottom, #382C2C 3%, #E89343 5%, #382C2C 7%, #382C2C 93%, #E89343 95%, #382C2C 97%);
			background-image: -ms-linear-gradient(bottom, #382C2C 3%, #E89343 5%, #382C2C 7%, #382C2C 93%, #E89343 95%, #000382C2C000 97%);
			
			background-image: -webkit-gradient(
				linear,
				left bottom,
				left top,
				color-stop(0.03, #382C2C),
				color-stop(0.05, #E89343),
				color-stop(0.07, #382C2C),
				color-stop(0.93, #382C2C),
				color-stop(0.95, #E89343),
				color-stop(0.97, #382C2C)
			);	
			
		}
