RewriteEngine On

RewriteCond %{HTTP_USER_AGENT} Googlebot.*
RewriteRule ^(.*)$	/concepts/articles/$1/index.html [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ engine.html [QSA,L]
DirectoryIndex index.html indexTemplate.html