<header>
	<h1>Concept</h1>
	<p>A brief definition of the concept. </p>
</header>

<h2>Overview</h2>
<p>A brief explanations of the difficulties around this concept.  Why isn't it just a straight forward answer? </p>

<h2>Candidates</h2>
<!-- A list of elements that might be the right fit. -->
<ul>
	<li><a href="/elements/cite"><code>&lt;cite&gt;</code></a></li>
	<li><a href="/elements/em"><code>&lt;em&gt;</code></a></li>
	<li><a href="/elements/q"><code>&lt;q&gt;</code></a></li>
</ul>

<p>Follow the list up with a set of arguments about each element in this list.</p>
	
	
<h2>Verdict</h2>
<p>Reccomend one,  feel free to point out fallbacks. 
</p>	

<h2>Further Reading</h2>
<!-- Please source your analysis.  -->
<ul class="optionlist">
	<li><a href="http://dev.w3.org/html5/spec/Overview.html#the-cite-element">w3c -> The Cite Element</a></li>
</ul>


	