<header>
	<h1><code>&lt;Title of element&gt;</code></h1>
	<p>A brief description of element</p>
</header>
<h2>Overview</h2>
<p>An explanation of the major issues associated with the element. </p>

<p>Go into detail</p>
<p>Go nuts.</p>

<h2>Conflicting or Confusing Elements</h2>
<h3><code>&lt;Title of other element&gt;</code></h3>
<p>That's a long section title. It should be self explanitory </p>

<h2>Further Reading</h2>
<!-- Please source your analysis.  -->
<ul class="optionlist">
	<li><a href="http://html5doctor.com/the-article-element/">HTML5 Doctor -> The article element</a></li>
	<li><a href="http://oli.jp/2009/html5-structure1/">Oli.jp -> HTML5 structure - div, section &amp; article</a></li>
	<li><a href="http://diveintohtml5.info/semantics.html#article-element">Dive Into HMTL5 -> Semantics - > Article</a></li>
</ul>
