<!DOCTYPE html> 
<html> 
	<head>
		<!-- *** Edit title *** --> 
		<title>&lt;some element&gt; - Elements - whichElement</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<link rel="stylesheet" href="/css/main.css" />
		<script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/js/main.js"></script>
		<script type="text/javascript" src="/js/html5shiv.js"></script>
		<script type="text/javascript" src="http://use.typekit.com/div2vlq.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head> 
	<body> 
		<header>
			<hgroup>
				<h1><a href="/">whichElement?</a></h1>
				<h2>Trying to answer that age old question:<br /> 
					<em>Should that be a div, a span, or something else.</em></h2>
			</hgroup>
			<div id="forkme"><a href="http://github.com/tpryan/whichelement">Fork me on GitHub</a></div>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/contribute">Contribute</a></li>
					<li><a href="/about">About</a></li>
				</ul>
			</nav>
		</header>
		<div id="content">
			<!-- *** Edit breadcrumbs *** --> 
			<div id="breadcrumbs">
				<a href="/elements">Elements</a> <span class="divider">&raquo;</span> <code>&lt;some element&gt;</code>
			</div>
			<!-- *** Edit title *** --> 
			<!--- ALL THESE WORDS
					ARE YOURS EXCEPT
					THINGS THAT ARE IN THE HEAD, HEADER AND FOOTER
					BASICALLY ONLY EDIT THE ARTICLE
					LEAVE THE REST ALONG 
					ATTEMPT NO
					LANDING OUTSIDE THERE
					USE THEM TOGETHER
					USE THEM IN PEACE
			-->		
			<article>
				<header>
					<h1><code>&lt;Some Element&gt;</code></h1>
					<p>A short blurb definition of the element. </p>
				</header>
				<h2>Overview</h2>
				<aside>A pithy quote from the article.</aside>
				<p>An explanation of the tag, it's usage, some special cases where you can use it. </p>
					
				
				<h2>Conflicting or Confusing Elements</h2>
				<h3><code><a href="">&lt;some other element&gt;</a></code></h3>
				<p>Talk about how this element get confused or conflicts with another element</p>
				
				<h2>Further Reading</h2>
				<!-- Try to back up your content. -->
				<ul class="optionlist">
					<li><a href="">Link</a></li>
					<li><a href="">Link</a></li>
					<li><a href="">Link</a></li>
				</ul>
				
			</article>
		</div>
		<footer>
			<p><a href="/">whichElement</a> is meant to be a group effort. 
				Please <a href="/contribute">pitch in.</p>  
		</footer>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-28728908-1']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		
		</script>
	</body>
</html>